body,html{
  margin: 0px;
  padding: 0px;
 
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  min-width: 100%;
  color: rgba(255, 255, 255, 0.87);

}
.header-bar{

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 95%;
  align-items: center;
text-align: center;
width: 100%;
gap: -10px;

}




.userinputone{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.userinputone input{
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  font-family: sans-serif;
  width: 100%;
}

.userinputone h1{
  display: flex;
  flex-direction: column;
}

.userinputone h4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  
}

.userinputone{
  margin-bottom: 30px;
}

.header-bar button{
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 40px;
  vertical-align: middle;
}
hr{
  width: 100%
  
}





footer{
margin-top: auto;
display: flex;
flex-direction: column;
  align-items: center;
gap: 0px;
width: 100%;
color: white;
}

footer hr{
  opacity: 0.2;
}

.footer-text{
  display: flex;
  flex-direction: row;
  gap: 20px;
  letter-spacing: 3px;
  font-size: 0.7em;
}

.box{
  display: flex;
  flex-direction: column;
}
.action-box{
  margin-top: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 50%;
height: 500px;
  border-radius: 10px;


}

.title-brand{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.title-brand h1{
  margin-bottom: -10px;
  letter-spacing: 10px;
font-family: "Quicksand", sans-serif;
  color: white;
  /* font-family: "Dancing Script", cursive; */
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userinputone input{
  padding: 7px;
}




button{
  margin-top: 20px;
  padding: 3px;
  font-size: 1em;
  padding: 10px;
}

.h-button{
  display: flex;
  flex-direction: column;
text-align: center;
    justify-content: center;
    align-items: center;
  height: 100%;
  margin-bottom: 20px;

}

hr{
opacity: 0.3;
}

.loading-screen{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
      opacity: 0.5;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease forwards;
      backdrop-filter: blur(4px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}